body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a:link {
  color: #264653;
}

footer {
  width: 100%;
}

.content {
  margin: 2em;
  padding-bottom: 7rem;
}
